<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AcquisitionMapper">
	<select id="list" resultType="com.sansam.adeye.domain.AcquisitionDTO">
		SELECT acq_gender, acq_interest, acq_dt
		FROM tb_acquisition
		WHERE sbs_seq = #{sbs_seq} AND acq_dt = current_date
  </select>
  <insert id="submit" parameterType="com.sansam.adeye.domain.AcquisitionDTO">
  		insert into tb_acquisition (acq_gender, acq_interest, acq_start_dt, acq_end_dt, acq_tid, sbs_seq) values(#{acq_gender}, #{acq_interest}, #{acq_start_dt}, #{acq_end_dt}, #{acq_tid}, #{sbs_seq})
  </insert>
  <update id="update">
  		update tb_acquisition set acq_gender = #{acq_gender}, acq_interest = #{acq_interest}, acq_start_dt = #{acq_start_dt}, acq_end_dt = #{acq_end_dt} 
  			where acq_tid = #{acq_tid} and device_uid = #{device_uid}
  </update>
</mapper>