<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContactMapper">
  
  <!-- <insert id="contact_insert">
		insert into tb_contact values(contact_seq.nextval, #{email}, #{phone}, #{company}, #{contact_content}, sysdate, 'N', #{admin_id})
	</insert>
	<select id="contact_detail">
		select * from tb_contact where contact_seq = #{contact_seq}
	</select>
	<select id="contact_selectall">
		select * from tb_contact
	</select> -->
  
</mapper>