<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeviceMapper">
  
  	<insert id="create">
		insert into tb_device (device_uid, device_onoff, device_status, device_dt) values(#{device_uid}, #{device_onoff}, 'N', sysdate)
	</insert>
	<select id="list" resultType="com.sansam.adeye.domain.DeviceDTO">
		<![CDATA[
			SELECT	device_seq,
       				device_uid,
       				device_onoff,
       				device_status,
       				device_dt,
       				mem_company,
       				sbs_seq,
       				sbs_loc,
       				data_check
		 	FROM (
  				SELECT /*+ INDEX_DESC(tb_device IDX_tb_device_PK) */
         			rownum rn,
         			d.device_seq,
         			d.device_uid,
         			d.device_onoff,
         			d.device_status,
         			d.device_dt,
         			(SELECT mem_company FROM tb_member m WHERE m.mem_id = s.mem_id AND s.device_seq = d.device_seq) AS mem_company,
         			(SELECT sbs_seq FROM tb_subscription s WHERE s.device_seq = d.device_seq) AS sbs_seq,
         			(SELECT sbs_loc FROM tb_subscription s WHERE s.device_seq = d.device_seq) AS sbs_loc,
         			(SELECT COUNT(log_seq) FROM tb_log l WHERE l.device_uid = d.device_uid AND l.log_dt >= SYSDATE - INTERVAL '5' MINUTE) AS data_check
  				FROM tb_device d
  				JOIN tb_subscription s ON s.device_seq = d.device_seq
  				JOIN tb_member m ON m.mem_id = s.mem_id
		        WHERE
		]]>
		<include refid="criteria"></include>         
      	<![CDATA[
               		rownum <= #{pageNum} * #{amount}
              	)
         	WHERE rn > (#{pageNum} - 1) * #{amount}
      	]]>
	</select>
	<sql id="criteria"/>
	
	<select id="detail" parameterType="com.sansam.adeye.domain.DeviceDTO">
		select * from tb_device where device_seq = #{device_seq}
	</select>
	
	<delete id="delete" parameterType="int">
		update tb_device device_status = 'D' set where device_seq = #{device_seq}
	</delete>

	<update id="update" parameterType="com.sansam.adeye.domain.DeviceDTO">
		update tb_device set device_uid=#{device_uid}, device_onoff = 'Y', device_status=#{device_status} where device_seq = #{device_seq}
	</update>
	
	<select id="getOnoff" parameterType="com.sansam.adeye.domain.DeviceDTO">
		select device_seq, device_onoff from tb_device where device_uid = #{device_uid}
	</select>
	
	<update id="control" parameterType="com.sansam.adeye.domain.DeviceDTO">
		update tb_device set device_onoff = #{device_onoff} where device_seq = #{device_seq}
	</update>
	<update id="devStatusOn">
		update tb_device set sbs_status = 'Y' where device_seq = #{device_seq}
	</update>
  
</mapper>