<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansam.adeye.mapper.deviceMapper">
  
  <insert id="device_on">
		insert into device values(device_seq.nextInt, #{device_uid}, #{device_NM}, #{device_onoff}, #{device_status}, sysdate)
	</insert>
	<select id="device_selectall" resultType="DeviceDTO">
		<![CDATA[select device_seq,
						device_uid,
						device_NM,
						device_onoff,
						device_status,
						device_dt
		 	     from (select rownum rn
							  device_seq,
							  device_uid,
						   	  device_NM,
							  device_onoff,
							  device_status,
							  device_dt
		           	   from device
		           	   where
		]]>
		<include refid="criteria"></include>         
      	<![CDATA[
               rownum <= #{pageNum} * #{amount}
              )
         WHERE rn > (#{pageNum} - 1) * #{amount}
      	]]>
	</select>
	<delete id="device_delete" parameterType="int">
		delete from device where device_seq = #{device_seq}
	</delete>
	<update id="device_on" parameterType="int">
		update device set device_onoff = 'Y' where device_seq = #{device_seq}
	</update>
	<update id="device_off" parameterType="int">
		update device set device_onoff = 'N' where device_seq = #{device_seq}
	</update>
	<update id="device_update" parameterType="DeviceDTO">
		update device set device_uid=#{device_uid}, device_NM=#{device_NM}, device_onoff = 'Y', device_status=#{device_status} where device_seq = #{device_seq}
	</update>
  
</mapper>