<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LogMapper">
  
 	<insert id="create" parameterType="com.sansam.adeye.domain.LogDTO">
 		insert into tb_log (log_msg, log_dt, device_uid) values (#{log_msg},#{log_dt},#{device_uid})
 	</insert>
  
</mapper>